<div>
  <% if @visitor %>
    Hello, <%= @visitor %>!
  <% else %>
    <form action='/hello'>
      My name is <%= @name %>.
      Wht's your name?
      <input type="text" name="name">
      <input type \="submit" value="Submit">
    </form>
  <% end %>
  <% if @name %>
    My name is <%= @name %>
  <% end %>
  <img src='http://placekitten.com/500/500' style='border: 3px dashed red'>
</div>